.wrap_wype_content .wype_post_list {
    width: 86%;
    padding: 20px;
    float: left;
    box-sizing: border-box !important;
}

.wrap_wype_content select {
    width: 100%;
    height: 28px;
}

.wrap_wype_content .divider {
    padding: 0px;
    background: #fff;
    width: 100% !important;
    margin: 18px 0px;
    height: 1px;
}

.wrap_wype_content #url_csv,
.wrap_wype_content #terms_url_csv {
    width: 100% !important;
    margin-top: 12px;
}

.wrap_wype_content .row {
    width: 100%;
    float: left;
    padding: 15px 1%;
    background-color: #fff !important;
}

.wrap_wype_content .submit {
    float: left;
    text-align: center !important;
    color: #fff;
    box-sizing: border-box !important;
    width: 12%;
    margin-top: 0px !important;
}

.wrap_wype_content .submit .content {
    background-color: #555555 !important;
    padding: 20px !important;
}

.wrap_wype_content #wype_links_csv {
    width: 100%;
}

.wrap_wype_content .submit .button-primary {
    width: 100% !important;
    margin-top: 12px !important;
}

.wrap_wype_content .search_bar {
    float: left;
    width: 86% !important;
    margin: 20px 1% 0px !important;
    background-color: #555555 !important;
    padding: 20px !important;
    color: #fff !important;
    text-align: right !important;
    box-sizing: border-box !important;
}

.wp-admin .wrap_wype_content select,
.wrap_wype_content p .button {
    vertical-align: top !important;
}

.wrap_wype_content .row:nth-child(odd) {
    background-color: #f9f9f9 !important;
}

.wrap_wype_content .col {
    width: 25%;
    float: left;
}

.wrap_wype_content .col:first-child {
    padding: 0px 1%;
    box-sizing: border-box !important;
    float: left;
}

.wype_post_list p {
    margin-top: 0px !important;
}

@media screen and (max-width: 860px) {
    .wrap_wype_content .col {
        width: 100%;
    }
    .wrap_wype_content .col:first-child {
        width: 100% !important;
    }
    .wrap_wype_content select,
    .button,
    #search {
        width: 96%;
        margin: 12px 2% !important;
        text-align: center !important;
    }
    .wrap_wype_content .submit {
        text-align: center !important;
        width: 100% !important;
    }
    #wpcontent {
        padding-left: 0px !important;
    }
    .wrap_wype_content .search_bar {
        width: 100% !important;
        text-align: center !important;
    }
    .wrap_wype_content .wype_post_list {
        width: 100%;
        padding: 5px;
    }
}

.wrap_wype_content .button-secondary {
    margin-top: 15px !important;
    width: 100% !important;
}

.wrap_wype_content .col input,
.wrap_wype_content .col textarea {
    width: 96%;
    padding: 10px 2%;
    min-height: 40px;
}

.wrap_wype_content .submit .btnsubmit {
    margin-top: 20px !important;
    line-height: 32px !important;
    height: 32px !important;
}

.wrap_wype_content #loader {
    display: none;
}

.wrap_wype_content #loader .dashicons {
    position: absolute;
    z-index: 999999;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    color: #000 !important;
    font-size: 50px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
